.body-1{
    background-image: linear-gradient(to right, #cdb4db,#a2d2ff);
    opacity: 0.7;
}

.body-2{
    background-image: linear-gradient(to right,rgb(66, 66, 247),rgb(159, 159, 241),rgb(201, 201, 249));
    opacity: 0.7;
}
.espace-login{

    height: 500px;
    width: 500px;
    padding: 350px;
    margin-top:80px;
    margin-left: 700px;
   
}

.presentation{
    margin-top: 80px;
    justify-content: center;
    display: flex;
    border-radius: 5px 5px;
    
    
}

.texte{
    
    background-color: #ffc8dd;
    height: 700px;
    width: 500px;
    padding: 150px;
    margin-right: 170px;
    
}

.texte h1{
    color: white;
}

span{
    
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.formulaire{

    background-color: #a2d2ff;
    height: 700px;
    width: 500px;
    padding: 150px;
    margin-left: 110px;
    
      
}


label{

    font-size: larger;
    font-weight: 700;
    color:whitesmoke;
    
}

input{

    height: 35px;
    width: 350px;
    border: none;
    margin: 1px;
    
     
}

.checker{
    width: 30px;
    height: 30px;
   
}
.input-nom-utilisateur,.input-mdp{
    background-color: rgb(34, 36, 73);
    color: white;
}

button{

    border-radius: 3px;
    border: none;
    width: 130px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    margin: 4px 2px 4px 2px ;
    cursor: pointer;
    margin-left: 50px;

}


.button-login-1:hover{
    background-color: #cdb4db;
    
}

.button-login-1 a{

    color: black;
    

}
.button-login-2{

    background-color: rgb(34, 36, 73);
    
}

.button-login-2:hover{
    background-color:rgb(201, 201, 249);
    
}

a{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    font-size: large;
    font-weight: 800;
    
}

.multimedia{
    margin-top: 80px;
    justify-content: center;
    display:block;
}